[submodule "deps/Sodium"]
	path = deps/Sodium
	url = https://github.com/jedisct1/swift-sodium
[submodule "deps/SwiftProtobuf"]
	path = deps/SwiftProtobuf
	url = https://github.com/apple/swift-protobuf
[submodule "deps/KeychainAccess"]
	path = deps/KeychainAccess
	url = https://github.com/kishikawakatsumi/KeychainAccess
